<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Instagram</title>
        <link rel="icon" type="image/png" href="logo.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" />
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="style/style.css" />
    </head>
    <body>
        <div class="container"><%- body %></div>
        <%- include("footer") %>
    </body>
</html>
